<div class="footer-work">
    <div class="footer-01">
        <div class="titling">
            <img src="../../assets/bg-img-02.jpg" alt="">
            <h2>Darjee Web</h2>
        </div>
        <h2 style="color: transparent;" >nabsdhsvshbasdhb jhmsbdzjahsmnbd xj-</h2>
    </div>
    <div class="centering">
        <h6>Since 2021</h6>
        <h2 style="color: transparent;" >nabsdhsvshbasdhb jhmsbdzjahsmnbd xj-</h2>
    </div>
    <div class="container">
        <div class="row-1">
            <ul>
                <li>service</li>
                <li>home</li>
                <li>tech</li>
                <li>tailors</li>
                <li>tailors</li>
                <li>tailors</li>
            </ul>
        </div>
        <div class="line"></div>
        <div class="row-2">
            <ul>
                <li>service</li>
                <li>home</li>
                <li>tech</li>
                <li>tailors</li>
                <li>tailors</li>
                <li>tailors</li>
            </ul>
        </div>
        <div class="line"></div>
        <div class="row-3">
            <ul>
                <li>service</li>
                <li>home</li>
                <li>tech</li>
                <li>tailors</li>
                <li>tailors</li>
                <li>tailors</li>
            </ul>
        </div>
        <div class="line"></div>
        <div class="footer">
            <div class="ig item">
                <img src="../../assets/design images/ig.png" alt="" width="30px" height="30px" class="rounded">
            </div>
            <div class="fb item">
                <img src="../../assets/design images/fb.png" alt="" height="30px" class="rounded" >
            </div>
            <div class="google item">
                <img src="../../assets/googleimg.png" alt="" width="30px" height="30px" class="rounded">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <span>&copy; copy rights 2023</span>
        </div>
    </div>
</div>