.container-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid black; */
    /* box-shadow: 0px 2px 20px lightgray; */
    /* border-radius: 10px; */
}
.line{
    width: 2px;
    background-color: lightgrey;
    height: 180px;
    box-shadow: 0px 10px 30px black;;
    /* margin-right: 50px; */
}
.maincont01{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.container01 img{
    width: 400px;
    height: 200px;
    border-radius: 50%;
}
.container01 {
    padding: 10px 10px;
}
.meas{
    margin-right: 30px;
    font-size:30px;
    font-weight: 800;
    letter-spacing: 2px;
}
.meas1{
    font-size: 28px;
    margin-right: 30px;
}

.post{
    font-size:28px;
}
.maincont02{
    padding-top: 20px;
    text-align: center;
}
.container02{
    padding-top: 20px;
}
.linenumber02{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.flexingitems{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.modalflexingitem{
    position: relative;
    top: 700px;
    right: -550px;
}