<app-nav-bar></app-nav-bar>

<div class="container text-center" style="font-size: 32px; font-weight: 700;" >
    Made To Measures
</div>

<div class="container container-main">
    <div class="container01">
        <img src="../../assets/darjee-title.jpg" alt="">
    </div>
    <div class="line"></div>
    <div class="container02">   
        
        <div class="meas1 my-4">
            <span class="post"> <span>10</span> Posts</span>
        </div>

        <div class="meas1">
            <span style="font-size: 22px;"> Bio About The Tailor & specialist</span>
        </div>
    </div>

</div>

<div class="container" style="margin-top: 50px;margin-bottom: 30px;text-align: center;">
    <hr>
    <span style="font-size: 32px;">Your Post</span>
    <!-- <div class="linenumber02">
    <hr style="width: 400px;" >
    </div> -->
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3" style="row-gap: 50px;">
        <div class="col">
            <div class="card" style="width: 24rem;">
                <img src="../../assets/design images/d-05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">About the Design Primeum Cloth</p>
                </div>
            </div>
        </div>
    </div>
</div>
