<app-tailor-nav></app-tailor-nav>

<div class="container">
    <h2 class="text-center" style="font-size: 32px; font-weight: 700; margin-top: 20px;">Received Appointment</h2>
</div>

<div class="container">
    <div class="box1">
        <div class="cont01">
            <h4><span style="font-weight: 500;">Name : </span><span
                    style="font-weight: 800;letter-spacing: 1.5px;">Karthik Nagula</span> </h4>
            <h5 style="font-weight: 500;">Appointme For : Sweing Cloth </h5>
        </div>
    
        <div class="cont03">
            <h5 style="font-weight: 500;">Date : 01:01:2032</h5>
            <h5 style="font-weight: 500;">Timming : 00:00:00</h5>
        </div>
    
        <div class="cont02">
            <h6 style="font-weight: normal;">about the comments on the basis of appointment ahvdg about the comments on
                the basis of appointment</h6>
        </div>
    
        <div class="cont04">
            <button type="button" class="btn btn-outline-success fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                Accept
              </button>
            <button type="button" class="btn btn-outline-danger fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Cancel
              </button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalflexingitem" >
      <div class="modal-content changingbg">
        <div class="modal-header">
          <h5 class="modal-title"  style="color: green;" id="exampleModalLabel">Confirm User Appointment</h5>
          <button type="button" class="btn-close btn-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color: black;" >
          <h6>User Name : Karthik</h6>
          <h6>Time : 00 : 00 : 00</h6>
          <h6>Date : 01 / 01 / 2024</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modalflexingitem" >
      <div class="modal-content changingbg">
        <div class="modal-header">
          <h5 class="modal-title"  style="color: red;" id="exampleModalLabel">Do You Wont To Cancel Appointment</h5>
          <button type="button" class="btn-close btn-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- <div class="modal-body" style="color: black;" >
          <h5>User Name : Karthik</h5>
          <h5>Time : 00 : 00 : 00</h5>
          <h5>Date : 01 / 01 / 2024</h5>
        </div>
    -->
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
