<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="head">Measurments Of User</div>
    <div class="row">
        <div class="box-1">
            <div class="container containerflexing">
                <span>
                    <span class="item">Measurement For :-</span>
                    <span class="item2">Kurta </span>
                </span>
                <span>
                    <span class="item">To Tailor :-</span>
                    <span class="item2">Made To Measures </span>
                </span>
                <span>
                    <span class="item">Date :-</span>
                    <span class="item2">On 26 / 02 / 2024 </span>
                </span>
                <button type="submit" style="padding-left: 20px;padding-right: 20px;" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Show Details
                  </button>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>


<!-- Modal -->
<div class="modal fade" style="margin-top: 150px;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Details About Measurement</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row g-3" style="margin-top: 10px; margin-bottom: 10px;">
                        <div class="col-sm">
                          <input type="text" class="form-control" placeholder="Chest" aria-label="City">
                        </div>
                        <div class="col-sm">
                          <input type="text" class="form-control" placeholder="Shoulder" aria-label="State">
                        </div>
                        <div class="col-sm">
                          <input type="text" class="form-control" placeholder="Waste" aria-label="Zip">
                        </div>
                      </div>
                    <div class="row g-3" style="margin-top: 10px; margin-bottom: 10px;">
                        <div class="col-sm">
                          <input type="text" class="form-control" placeholder="Chest" aria-label="City">
                        </div>
                        <div class="col-sm">
                          <input type="text" class="form-control" placeholder="Shoulder" aria-label="State">
                        </div>
                        <div class="col-sm">
                          <input type="text" class="form-control" placeholder="Waste" aria-label="Zip">
                        </div>
                      </div>
                    <div class="row g-3" style="margin-top: 10px; margin-bottom: 10px;">
                        <div class="col-sm">
                          <input type="text" class="form-control" placeholder="Chest" aria-label="City">
                        </div>
                        <div class="col-sm">
                          <input type="text" class="form-control" placeholder="Shoulder" aria-label="State">
                        </div>
                        <div class="col-sm">
                          <input type="text" class="form-control" placeholder="Waste" aria-label="Zip">
                        </div>
                      </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>