
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" style="padding-left: 100px; font-size: 22px;">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justcenter">
                <!-- <li class="nav-item nav-item1">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item nav-item1">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
                <li class="nav-item nav-item1">
                    <a class="nav-link" style="font-size: 28px;font-weight: 800;letter-spacing: 1.5px; " href="#">Darjee Tailor Business</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<aside class="navbar-expand-lg" id="aside">
    <div class="container-fluid">
        <ul class="nav nav2 flex-column">
            <li class="nav-item nav-item2">
                <a class="nav-link">
                    <img src="../../assets/bg-img-02.jpg" alt="">
                </a>
                <h5 style="text-align: center; padding: 10px 5px;">
                    <span style="font-weight: 400;" >Admin : </span> <span style="font-weight: 600; letter-spacing: 2px;" >Karthik Nagula</span>
                </h5>
            </li>
            <li class="nav-item nav-item2">
                <a class="nav-link active" style="color: black;" routerLink="/AdminDashboard" aria-current="page" href="#">
                    <span class="material-symbols-outlined fs-6 arrowing ">arrow_forward_ios</span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item nav-item2">
                <a class="nav-link" style="color: black;" routerLink="/ManageTailors" >
                    <span class="material-symbols-outlined fs-6 arrowing ">arrow_forward_ios</span>
                    Tailors
                </a>
            </li>
            <li class="nav-item nav-item2">
                <a class="nav-link" style="color: black;" routerLink="/ManageUser" >
                    <span class="material-symbols-outlined fs-6 arrowing ">arrow_forward_ios</span>
                    Users
                </a>
            </li>
            <li class="nav-item nav-item2">
                <a class="nav-link" style="color: black;" routerLink="/AllInventry" >
                    <span class="material-symbols-outlined fs-6 arrowing ">arrow_forward_ios</span>
                    Inventry
                </a>
            </li>
            <li class="nav-item nav-item2">
                <a class="nav-link" style="color: black;" routerLink="/ManageOrders" >
                    <span class="material-symbols-outlined fs-6 arrowing ">arrow_forward_ios</span>
                    Orders
                </a>
            </li>
        </ul>
    </div>
</aside>