<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="head">Appointments of User</div>

        <div class="row">
            <div class="box-1">
                <div class="head2">Appointment Id :- 01</div>
                <div class="container containerflexing">
                    <div class="item item1">
                        <span class="title">Tailor Name :- </span>
                        <span> Made To Measures</span>
                    </div>
                    <div class="item item2">
                        <span class="title">Appointment Time :- </span>
                        <span>03 : 15 : 00</span>
                    </div>
                    <div class="item item3">
                        <span class="title">Appointment Date :- </span>
                        <span>26 / 10 / 2024</span>
                    </div>
                    <div class="item item4">
                        <span class="title">Status :- </span>
                        <span>Confirm /Pending</span>
                    </div>
                </div>

            </div>
            <div class="box-1">
                <div class="head2">Appointment Id :- 01</div>
                <div class="container containerflexing">
                    <div class="item item1">
                        <span class="title">Tailor Name :- </span>
                        <span> Made To Measures</span>
                    </div>
                    <div class="item item2">
                        <span class="title">Appointment Time :- </span>
                        <span>03 : 15 : 00</span>
                    </div>
                    <div class="item item3">
                        <span class="title">Appointment Date :- </span>
                        <span>26 / 10 / 2024</span>
                    </div>
                    <div class="item item4">
                        <span class="title">Status :- </span>
                        <span>Confirm /Pending</span>
                    </div>
                </div>

            </div>
            <div class="box-1">
                <div class="head2">Appointment Id :- 01</div>
                <div class="container containerflexing">
                    <div class="item item1">
                        <span class="title">Tailor Name :- </span>
                        <span> Made To Measures</span>
                    </div>
                    <div class="item item2">
                        <span class="title">Appointment Time :- </span>
                        <span>03 : 15 : 00</span>
                    </div>
                    <div class="item item3">
                        <span class="title">Appointment Date :- </span>
                        <span>26 / 10 / 2024</span>
                    </div>
                    <div class="item item4">
                        <span class="title">Status :- </span>
                        <span>Confirm /Pending</span>
                    </div>
                </div>

            </div>
            <div class="box-1">
                <div class="head2">Appointment Id :- 01</div>
                <div class="container containerflexing">
                    <div class="item item1">
                        <span class="title">Tailor Name :- </span>
                        <span> Made To Measures</span>
                    </div>
                    <div class="item item2">
                        <span class="title">Appointment Time :- </span>
                        <span>03 : 15 : 00</span>
                    </div>
                    <div class="item item3">
                        <span class="title">Appointment Date :- </span>
                        <span>26 / 10 / 2024</span>
                    </div>
                    <div class="item item4">
                        <span class="title">Status :- </span>
                        <span>Confirm /Pending</span>
                    </div>
                </div>

            </div>
        </div>

</div>

<app-footer></app-footer>