<app-admin-navbar></app-admin-navbar>
<div class="container" style="top: auto; left: 140px; position: relative; width: 100%;height: 100%;">

    <div class="container mt-3">
        <h2 style="text-align: center;font-weight: 800;letter-spacing: 3px;">Tailors Details</h2>
    </div>

    <div class="box1">
        <div class="cont01">
            <h4><span style="font-weight: 500;">Tailor Name : </span><span
                    style="font-weight: 800;letter-spacing: 1.5px;">Made To Measuers</span> </h4>
            <h5 style="font-weight: 500;"> Specialist : Sweing Cloth </h5>
        </div>

        <div class="cont03">
            <h5 style="font-weight: 500;">Email : abc@gmail.com</h5>
            <h5 style="font-weight: 500;">Name : Soni</h5>
        </div>

        <div class="cont02">
            <h6 style="font-weight: normal;">about the Company on the basis of appointment ahvdg about the comments on
                the basis of appointment</h6>
        </div>

        <div class="cont04">
            <button class="btn btn-outline-success fs-5" routerLink="/TailorUpdate" >Update</button>
            <button type="button" class="btn btn-outline-danger fs-5" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Delete
            </button>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modalflexingitem">
            <div class="modal-content changingbg">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: red;" id="exampleModalLabel">Your Tailor Was Deleted
                        Added</h5>
                    <button type="button" class="btn-close btn-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <!-- <div class="modal-body" style="color: green;" >
          Go To Inventry 
        </div> -->
                <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div> -->
            </div>
        </div>
    </div>

</div>