<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="head">Your Orders</div>
    <div class="row">
        <div class="box-1">
            <div class="container containerflexing">
                <span class="head2">
                    <span class="">Order Id : </span>
                    <span class="" >#55256215</span>                
                </span>
                <span>
                    <span class="item">Product Name :- </span>
                    <span class="item2" >Premium Cloth</span>
                </span>
                <span>
                    <span class="item">Total Amount :- </span>
                    <span class="item2" >5000</span>
                </span>
                <span>
                    <span class="item">Order Status :- </span>
                    <span class="item2" >Active / Pending</span>
                </span>
                <span>
                    <span class="item" >Mode Of Payment :- </span>
                    <span class="item2" >Upi / Cash</span>
                </span>
            </div>
        </div>
        <div class="box-1">
            <div class="container containerflexing">
                <span class="head2">
                    <span class="">Order Id : </span>
                    <span class="" >#55256215</span>                
                </span>
                <span>
                    <span class="item">Product Name :- </span>
                    <span class="item2" >Premium Cloth</span>
                </span>
                <span>
                    <span class="item">Total Amount :- </span>
                    <span class="item2" >5000</span>
                </span>
                <span>
                    <span class="item">Order Status :- </span>
                    <span class="item2" >Active / Pending</span>
                </span>
                <span>
                    <span class="item" >Mode Of Payment :- </span>
                    <span class="item2" >Upi / Cash</span>
                </span>
            </div>
        </div>
        <div class="box-1">
            <div class="container containerflexing">
                <span class="head2">
                    <span class="">Order Id : </span>
                    <span class="" >#55256215</span>                
                </span>
                <span>
                    <span class="item">Product Name :- </span>
                    <span class="item2" >Premium Cloth</span>
                </span>
                <span>
                    <span class="item">Total Amount :- </span>
                    <span class="item2" >5000</span>
                </span>
                <span>
                    <span class="item">Order Status :- </span>
                    <span class="item2" >Active / Pending</span>
                </span>
                <span>
                    <span class="item" >Mode Of Payment :- </span>
                    <span class="item2" >Upi / Cash</span>
                </span>
            </div>
        </div>
        <div class="box-1">
            <div class="container containerflexing">
                <span class="head2">
                    <span class="">Order Id : </span>
                    <span class="" >#55256215</span>                
                </span>
                <span>
                    <span class="item">Product Name :- </span>
                    <span class="item2" >Premium Cloth</span>
                </span>
                <span>
                    <span class="item">Total Amount :- </span>
                    <span class="item2" >5000</span>
                </span>
                <span>
                    <span class="item">Order Status :- </span>
                    <span class="item2" >Active / Pending</span>
                </span>
                <span>
                    <span class="item" >Mode Of Payment :- </span>
                    <span class="item2" >Upi / Cash</span>
                </span>
            </div>
        </div>
        <div class="box-1">
            <div class="container containerflexing">
                <span class="head2">
                    <span class="">Order Id : </span>
                    <span class="" >#55256215</span>                
                </span>
                <span>
                    <span class="item">Product Name :- </span>
                    <span class="item2" >Premium Cloth</span>
                </span>
                <span>
                    <span class="item">Total Amount :- </span>
                    <span class="item2" >5000</span>
                </span>
                <span>
                    <span class="item">Order Status :- </span>
                    <span class="item2" >Active / Pending</span>
                </span>
                <span>
                    <span class="item" >Mode Of Payment :- </span>
                    <span class="item2" >Upi / Cash</span>
                </span>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>