<app-tailor-nav></app-tailor-nav>

<h2 class="text-center mt-3" style="font-weight: 800;font-size: 32px;letter-spacing: 2px;" >Confirmed Appointments</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3" style="row-gap: 50px;">
        <div class="col">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">Karthik Nagula</h5>
                    <p class="card-text">Comments : Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date :- 26 / 10 / 2024</li>
                    <li class="list-group-item">Day :- 00 / 00 / 00</li>
                    <li class="list-group-item">Appointment For :- Shirt Sweing</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">Karthik Nagula</h5>
                    <p class="card-text">Comments : Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date :- 26 / 10 / 2024</li>
                    <li class="list-group-item">Day :- 00 / 00 / 00</li>
                    <li class="list-group-item">Appointment For :- Shirt Sweing</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">Karthik Nagula</h5>
                    <p class="card-text">Comments : Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date :- 26 / 10 / 2024</li>
                    <li class="list-group-item">Day :- 00 / 00 / 00</li>
                    <li class="list-group-item">Appointment For :- Shirt Sweing</li>
                </ul>
            </div>
        </div>
    </div>
</div>