<app-nav-bar></app-nav-bar>

<div class="container">
    <h1 style="font-size: 35px;text-align: center;margin-top: 20px;font-weight: 800;">Clothss!!!</h1>
</div>

<div class="container" style="justify-content: center;margin: auto;display: flex; ">
    <div class="input-group mt-3 mb-3" style="width: 50%;">
        <input type="text" class="form-control" placeholder="Search For More Designs"
            aria-label="Search For More Designs" aria-describedby="button-addon2" style="font-size: 20px;">
        <button class="btn btn-outline-primary text-center" type="button" id="button-addon2">
            <span class="material-symbols-outlined p-1 fs-3">
                search
            </span>
        </button>
    </div>
</div>

<div class="container">
    <div class="text-center mt-4">
        <h2>Our Top Sale</h2>
    </div>
    <div class="row">
        <div class="box-1">
            <div class="wide-box"><img  routerLink="/ProductView" src="../../assets/design images/d-01.jpg" height="98%" alt=""></div>
        </div>
        <div class="box-2">
            <div class="d-flex">
                <div class="box-2-01 box"><img  routerLink="/ProductView" src="../../assets/design images/d-01.jpg" width="380px" height="200px"
                        alt=""></div>
                <div class="box-2-01 box"><img  routerLink="/ProductView" src="../../assets/design images/d-01.jpg" width="380px" height="200px"
                        alt=""></div>
            </div>
            <div class="d-flex">
                <div class="box-2-01 box"><img  routerLink="/ProductView" src="../../assets/design images/d-01.jpg" width="380px" height="200px"
                        alt=""></div>
                <div class="box-2-01 box"><img  routerLink="/ProductView" src="../../assets/design images/d-01.jpg" width="380px" height="200px"
                        alt=""></div>
            </div>
        </div>
        <div class="box-3">
            <div class="marginsetting">
                <div class="box-3-01 box-main">
                    <img routerLink="/ProductView" src="../../assets/design images/d-03.jpg" width="380px" height="200px" alt="" alt="">
                </div>
                <div class="box-3-01 box-main">
                    <img routerLink="/ProductView" src="../../assets/design images/d-03.jpg" width="380px" height="200px" alt="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center mt-5">
        <h2>Styliesh Designsss</h2>
    </div>
    <div class="row">
        <div class="box-2">
            <div class="d-flex">
                <div class="box-2-01 box"><img routerLink="/ProductView" src="../../assets/design images/d-01.jpg" width="380px" height="200px"
                        alt=""></div>
                <div class="box-2-02 box"><img routerLink="/ProductView" src="../../assets/design images/d-01.jpg" width="380px" height="200px"
                        alt=""></div>
            </div>
            <div class="d-flex">
                <div class="box-2-03 box"><img routerLink="/ProductView" src="../../assets/design images/d-01.jpg" width="380px" height="200px"
                        alt=""></div>
                <div class="box-2-04 box"><img routerLink="/ProductView" src="../../assets/design images/d-01.jpg" width="380px" height="200px"
                        alt=""></div>
            </div>
        </div>
        <div class="box-3">
            <div class="marginsetting">
                <div class="d-flex">
                    <!-- <div class="box-3-01 box"><img src="../../assets/design images/d-01.jpg" width="380px" height="200px"
                                alt=""></div> -->
                    <div class="box-3-02 box"><img routerLink="/ProductView" src="../../assets/design images/d-01.jpg" width="380px"
                            height="200px" alt=""></div>
                </div>
                <div class="d-flex">
                    <div class="box-3-03 box"><img routerLink="/ProductView" src="../../assets/design images/d-01.jpg" width="380px"
                            height="200px" alt=""></div>
                    <div class="box-3-04 box"><img routerLink="/ProductView" src="../../assets/design images/d-01.jpg" width="380px"
                            height="200px" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid"
    style="display: flex;justify-content: center; align-items: center; margin: auto;flex-direction: column;">
    <div class="text-center mt-4 mb-4">
        <h2>Our Trending Products</h2>
    </div>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img routerLink="/ProductView" src="../../assets/design images/d-02.jpg" class="d-block w-100" height="530px" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img routerLink="/ProductView" src="../../assets/design images/d-03.jpg" class="d-block w-100" height="530px" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img routerLink="/ProductView" src="../../assets/design images/d-04.jpg" class="d-block w-100" height="530px" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container">
    <div class="text-center mt-5 mb-4">
        <h2>Moree Designs!!</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3" style="row-gap: 50px;">
        <div class="col">
            <div class="card" style="width: 24rem;">
                <img routerLink="/ProductView" src="../../assets/design images/d-05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rs :- 5,000</h5>
                    <p class="card-text">Primeum Cloth</p>
                    <div class="btn-toolbar justify-content-around">
                        <a class="btn btn-success">Add TO Cart</a>
                        <a class="btn btn-warning" routerLink="/CheckOutProduct">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 24rem;">
                <img routerLink="/ProductView" src="../../assets/design images/d-05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rs :- 5,000</h5>
                    <p class="card-text">Primeum Cloth</p>
                    <div class="btn-toolbar justify-content-around">
                        <a class="btn btn-success">Add TO Cart</a>
                        <a class="btn btn-warning" routerLink="/CheckOutProduct">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 24rem;">
                <img routerLink="/ProductView" src="../../assets/design images/d-05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rs :- 5,000</h5>
                    <p class="card-text">Primeum Cloth</p>
                    <div class="btn-toolbar justify-content-around">
                        <a class="btn btn-success">Add TO Cart</a>
                        <a class="btn btn-warning" routerLink="/CheckOutProduct">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 24rem;">
                <img routerLink="/ProductView" src="../../assets/design images/d-05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rs :- 5,000</h5>
                    <p class="card-text">Primeum Cloth</p>
                    <div class="btn-toolbar justify-content-around">
                        <a class="btn btn-success">Add TO Cart</a>
                        <a class="btn btn-warning" routerLink="/CheckOutProduct">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 24rem;">
                <img routerLink="/ProductView" src="../../assets/design images/d-05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rs :- 5,000</h5>
                    <p class="card-text">Primeum Cloth</p>
                    <div class="btn-toolbar justify-content-around">
                        <a class="btn btn-success">Add TO Cart</a>
                        <a class="btn btn-warning" routerLink="/CheckOutProduct">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 24rem;">
                <img routerLink="/ProductView" src="../../assets/design images/d-05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rs :- 5,000</h5>
                    <p class="card-text">Primeum Cloth</p>
                    <div class="btn-toolbar justify-content-around">
                        <a class="btn btn-success">Add TO Cart</a>
                        <a class="btn btn-warning" routerLink="/CheckOutProduct">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 24rem;">
                <img routerLink="/ProductView" src="../../assets/design images/d-05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rs :- 5,000</h5>
                    <p class="card-text">Primeum Cloth</p>
                    <div class="btn-toolbar justify-content-around">
                        <a class="btn btn-success">Add TO Cart</a>
                        <a class="btn btn-warning" routerLink="/CheckOutProduct">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 24rem;">
                <img routerLink="/ProductView" src="../../assets/design images/d-05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rs :- 5,000</h5>
                    <p class="card-text">Primeum Cloth</p>
                    <div class="btn-toolbar justify-content-around">
                        <a class="btn btn-success">Add TO Cart</a>
                        <a class="btn btn-warning" routerLink="/CheckOutProduct">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 24rem;">
                <img routerLink="/ProductView" src="../../assets/design images/d-05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rs :- 5,000</h5>
                    <p class="card-text">Primeum Cloth</p>
                    <div class="btn-toolbar justify-content-around">
                        <a class="btn btn-success">Add TO Cart</a>
                        <a class="btn btn-warning" routerLink="/CheckOutProduct">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

</div>

<!-- pagination -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<app-footer></app-footer>