/* matrerial google font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');


/* 1st container *****************************************************  */
#Title-Discription {
    background-image: url('../../assets/home-img-01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 765px;
    /* filter: brightness(70%); */
}

/* typing animation */
.typed-text{
    letter-spacing: 0.1rem;
}
.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .cursor {
    display: inline-block;
    width: 0.1em;
    height: 0.9em;
    margin-right: 0.1em;
    background-color: white;
    animation: blink 1s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
.wrapper {
    /* margin-top: -300px; */
    margin-left: 630px;
    font-size: 35.5px;
    font-stretch: extra-expanded;
    font-weight: 900;
}

/* animation text */
.wrapper {
    height: auto;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.typing-demo {
    width: 820px;
    animation: typing 3s steps(40), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    /* font-family: 'Rubik Doodle Shadow', system-ui; */
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

/* 1st container maintext */

.maintext {
    display: flex;
    width: 800px;
    margin-left: 600px;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

#searchinp {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 6px;
}

#searchinp:focus {
    box-shadow: none;
    border: none;
}

#button-addon2 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 6px;
    background-color: white;
}

#search-container {
    margin-top: 0px;
    margin-left: 300px;
}

#explore {
    margin-top: 30px;
    text-align: center;
    margin-left: 600px;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

/* 2nd container  **********************************************   */
#container-02 {
    /* background-color: rgb(43, 183, 226); */
    height: 200px;
    margin-top: 20px;
}

/* 3rd container  *******************************************************  */

#container-03 {
    /* background-color: rgb(0, 0, 0); */
    height: auto;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.circle {
    text-align: center;
    color: black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    margin-top: 50px;
}

.circle img {
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid white;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.circle:hover img {
    transform: scale(1.05);
    padding: 3px;
    box-shadow: 0px 10px 50px 5px lightslategray;
}


/* 4th container  *************************************************  */



/* 5th container *************************************************  */
#container-05 {
    /* background-color: rgb(174, 243, 134); */
    height: 400px;

}

.side-btn {
    width: 30px;
    height: 100px;
    margin: 180px auto;
    /* background-color: lightgrey; */
}

.side-btn-01 {
    width: 30px;
    height: 100px;
    margin: 126px auto;
    background-color: lightgrey;
}

.left {
    margin-left: 30px;
}

.right {
    margin-right: 30px;
}

.flex-container {
    display: flex;
}

.overflowing {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

/* Hide scrollbar for webkit browsers */

.overflowing::-webkit-scrollbar{
    /* display: none; */
    height: 8px
}

.overflowing::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

.overflowing::-webkit-scrollbar-track {
    background-color: transparent;
}

.boxing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    background-color: #d3d3d3;
    height: 380px;
    width: 280px;
    padding: 20px;
    border-radius: 20px;
}

.boxing-01 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35px;
    width: auto;
    transition: 0.4s all ease-in;
    box-shadow: 0px 2px 20px lightsteelblue;
    border-radius: 10px;
}

.boxing-01 img {
    height: 250px;
    width: 270px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border: 2px solid black; */
    border-bottom: none;
    transition: 0.4s all ease-in;
    cursor: pointer;
}

.boxing-01 img:hover {
    transform: scale(1.001);
    object-fit: fill;

}

.boxing-01:hover {
    box-shadow: 0px -3px 20px 2px lightslategray;
    transform: scale(1.02);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}

.boxing img {
    height: 320px;
}

.text-cont {
    text-align: center;
    /* border: 1px solid black; */
    width: 250px;
    padding: 10px;
    font-size: 24px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* 6th container is carousel */

/* 7th container  ******************************************************   */
#container-07 {
    /* background-color: brown; */
    height: 600px;
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
}

#side-01 {
    /* border-radius: 50%; */
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 45%;
    height: 100%;
    background: url(../../assets/home-img-01.jpg);
}
#side-01 h3{
    text-align: center;
    color: white;
}
#side-01 button{
    float:right;
    margin: 30px;
}
#side-02 button{
    float:left;
    margin: 30px;
}
.btn-txt{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
    width: 70%;
}
#side-02 h3{
    text-align: center;
    color: white;
}
#side-01 img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 350px;
    cursor: pointer;
    object-fit: cover;
    transition: 0.5s all ease-in-out;

}

.border {
    width: 20px;
    height: 100%;
    background-color: transparent;
    border: transparent;
}

#side-02 {
    /* border-radius: 50%; */
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 45%;
    height: 100%;
    background: url(../../assets/home-img-01.jpg);
}

#side-02 img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 350px;
    cursor: pointer;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}
.cont-07-header{
    margin: 60px 0px 20px 0px;
}
#side-01:hover {
    transform: scale(1.01);
}

#side-02:hover {
    transform: scale(1.01);
}

/* 8th container *********************************************** */
#container-08 {
    /* background-color: yellow; */
    height: 450px;
}

.content-inside-maintxt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 26px;
    text-align: center;
    width: 80%;
    padding: 20px;
    flex-direction: column;
    letter-spacing: 3px;
}