<app-nav-bar></app-nav-bar>
<!-- 1st container -->
<div class="" id="Title-Discription">

    <div class="wrapper">
        <div>
            <span style="color: transparent;">-</span>
            <span class="typed-text"></span>
            <span class="cursor"></span>
        </div>
    </div>


    <div class="maintext">
        "Discover a world of bespoke elegance at DARJEE WEB. Our web application redefines
        tailoring, offering personalized fashion experiences that capture your individuality. Elevate your style
        effortlessly - start stitching your story today!"
    </div>

    <div class="heading">
        <p id="explore">Explore Your Fashion From Here.......</p>
    </div>

    <form>
        <div class="input-group mb-3" id="search-container">
            <input type="text" id="searchinp" class="form-control" placeholder="Search For Designs........"
                aria-label="Recipient's username" aria-describedby="button-addon2"
                style="width: 30px; padding-left: 15px; ">
            <button class="btn material-symbols-outlined" id="button-addon2" style="font-size: 24px;"
                type="submit">search</button>
        </div>
    </form>

</div>



<!-- 7th container -->
<h2 class="cont-07-header text-center" style="margin-top: 50px; margin-bottom: 50px;">Explore Our Technology</h2>

<div class="container-fluid" id="container-07">
    <div id="side-01">
        <div class="btn-txt">
            <h3>Seamlessly schedule your style with our bespoke appointment option, where precision meets convenience in
                every stitch of web development.
            </h3>
            <button class="btn btn-warning p-2">Make Appointment</button>
        </div>
    </div>
    <!-- <div class="border"></div> -->
    <div id="side-02">
        <div class="btn-txt">
            <h3>
                "Empower your online presence with precision and style - where every pixel is a bespoke measurement in
                our tailor-made web development."
            </h3>
            <button class="btn btn-warning p-2">Give Measurement</button>
        </div>
    </div>
</div>


<!-- 3rd container -->
<h2 class="text-center" style="margin-top: 50px; margin-bottom: 50px;"> Our Top Tailors With Specialist </h2>
<div class="container-fluid w-100" id="container-03">
    <div class="container">
        <div class="circle circle-01">
            <img src="../../assets/design images/d-01.jpg" alt="">
        </div>
        <div class="circle circle-02">
            <img src="../../assets/design images/d-02.jpg" alt="">
        </div>
        <div class="circle circle-03">
            <img src="../../assets/design images/d-03.jpg" alt="">
        </div>
    </div>
</div>

<!-- 2nd Container -->
<div class="container w-100" id="container-02" style=" margin-bottom: 150px;">
    <div class="content-inside-maintxt">
        <h2 class="text-center" style="margin-top: 50px; margin-bottom: 50px;">Content</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate corporis possimus accusamus reiciendis quidem
        quae officiis dicta architecto, veniam voluptatibus dolor vel doloremque nobis facilis excepturi fugiat
    </div>
</div>


<!-- 4th container -->
<!-- 5th container -->
<h2 class="text-center" style="margin-top: 50px; margin-bottom: 50px;">Top Designs</h2>
<div class="container-fluid w-100 " id="container-05">
    <div class="flex-container" #imageContainer>
        <!-- right button -->
        <!-- <div class="side-btn right">
            <span class="material-symbols-outlined fs-1">
                arrow_back_ios
            </span>
        </div> -->


        <!-- main content -->
        <div class="overflowing">

            <!-- item 01 -->
            <div class="boxing-01">
                <img src="../../assets/bg-img-02.jpg" alt="img" width="230px">
                <div class="text-cont">
                    <h5 style="padding: 5px;">title</h5>
                </div>
            </div>
            <!-- item 01 -->
            <div class="boxing-01">
                <img src="../../assets/bg-img-02.jpg" alt="img" width="230px">
                <div class="text-cont">
                    <h5 style="padding: 5px;">title</h5>
                </div>
            </div>
            <!-- item 01 -->
            <div class="boxing-01">
                <img src="../../assets/bg-img-02.jpg" alt="img" width="230px">
                <div class="text-cont">
                    <h5 style="padding: 5px;">title</h5>
                </div>
            </div>
            <!-- item 01 -->
            <div class="boxing-01">
                <img src="../../assets/bg-img-02.jpg" alt="img" width="230px">
                <div class="text-cont">
                    <h5 style="padding: 5px;">title</h5>
                </div>
            </div>
            <!-- item 01 -->
            <div class="boxing-01">
                <img src="../../assets/bg-img-02.jpg" alt="img" width="230px">
                <div class="text-cont">
                    <h5 style="padding: 5px;">title</h5>
                </div>
            </div>



        </div>

        <!-- left button -->
        <!-- <div class="side-btn left" >
            <span class="material-symbols-outlined fs-1 ">
                arrow_forward_ios
            </span>
        </div> -->

    </div>
</div>



<app-footer></app-footer>